
/* COLORS: 
green:         #3AC623
light green:   #CCFF38

*/

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.7;
  padding: 30px;
}



 

  