<nav class="navbar navbar-inverse navbar-fixed-top">
  <h5><div>📦 PLANTS SHIP FREE NATIONWIDE 🧑🏼‍🌾 AUTOMATICALLY SAVE 10% WHEN YOU GET 4 PLANTS OR MORE</div></h5>
  <br>
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href=“#” style="color: #131805;">Plants</a></li>
      <li><a href=“#” style="color: #131805;">Planters</a></li>
      <li><a href=“#” style="color: #131805;">Supplies</a></li>
      <li><a href=“#” style="color: #131805;">Merchandise</a></li>
    </ul>
  
    <ul class="nav navbar-nav navbar-right">
      <li><input type="text" class="form-control" placeholder="Search"></li>
      <li><a href="#"><span class="glyphicon glyphicon-shopping-cart">Cart</span></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a></li>
    </ul>
    <div class="img-container"></div>
    <img src="//cdn.shopify.com/s/files/1/2781/9558/files/Layer_1_45c3540b-4a8d-47bb-86be-cb51f6080bc7_190x.png?v=1540102857" srcset="//cdn.shopify.com/s/files/1/2781/9558/files/Layer_1_45c3540b-4a8d-47bb-86be-cb51f6080bc7_190x.png?v=1540102857 1x, //cdn.shopify.com/s/files/1/2781/9558/files/Layer_1_45c3540b-4a8d-47bb-86be-cb51f6080bc7_190x@2x.png?v=1540102857 2x" width="190" alt="Rooted">

  
 










